body{
    background-color: #123456;
}


.announcement{
    position:relative;
    top:15px;
}

.announcement img{
    position:relative;
    left:10px;
}

.card{
    color: #ffff;
    background-color: #234567;
    border: 2px solid;
    border-color: #345678;
}

.announcement a.btn-secondary{
    background-color: #456789;
    border-color: #456789;
}

.announcement a.btn-secondary:hover{
    background-color: #345678;
    border-color: #345678;
}

.navbar{
    background-color: #345678;
}

.date{
    color:#ffffff88;
    position:relative;
    bottom:-7px;
}

.news-detail p.text-justify{
    text-indent: 40px;
}

.news-detail p.first-par{
    text-indent:0px;
}

span.lettrine{
	font-size:4.9em;
    text-indent:0;
    font-weight: bold;
    margin-right:0.1em;
    position: relative;
    top:-9px;
    margin-bottom: 0px;
    height: 1em;
    margin-bottom: 0.1em;
}